.navbar {
  &-lewagon {
    justify-content: space-between;
    background: white;
  }
  &-collapse { flex-grow: 0; }
  &-brand img { width: 40px; }
  &-container-m { margin-top: 4rem; }
}

.nav-item {
  &:hover {
    background-color: #efefef;
  }
}